div.Operator {
    width: 60%;
    border: 2px solid black;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

div.Operator span {
    font-weight: bold;
}