div.Pipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.Pipe div.operatorMarbleSet {
    width: 100%;
    display: flex;
    flex-direction: column;
}