div.Subscription {
    border: 1px solid black;
    width: 100%;
}

div.Subscription div.content {
    display: none;
}

div.Subscription div.content.open {
    width: calc(100% - 2px);
    display: inline-block;
}

div.Subscription span {
    margin: 0.2em;
}

div.Subscription span:first-of-type {
    padding-left: 2vw;
}